* text=auto

.github                export-ignore
tests                  export-ignore
.*                     export-ignore
*.xml                  export-ignore
core/schema/mxrvx-telegram-bot-sender.mysql.schema.xml   -export-ignore
*.xml.dist             export-ignore
.php-cs-fixer.dist.php export-ignore
composer.lock          export-ignore
composer-require-*     export-ignore
Makefile               export-ignore
