.mxrvx-telegram-bot-sender-window {
    .x-form-item:first-of-type .x-form-item-label {
        padding-top: 0;
    }
}

.mxrvx-telegram-bot-sender-popup {
    .ext-mb-icon.ext-mb-question {
        margin-left: 40px;
        margin-right: 20px;
    }
    .ext-mb-content {
        vertical-align: sub;
    }
}
